<!-- <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <h2>User</h2>
      <div class="d-flex">
        <button class="btn btn-success" >logout</button>
      </div>
    </div>
  </nav> -->
  <!-- <app-nav></app-nav> -->
  

    <button type="button" class="btn btn-info" style="float: right; margin-top: 50px; margin-right: 70px;" data-bs-toggle="modal" data-bs-target="#exampleModal">Add</button><br/>
    <table class="table table-trapped">
        <thead>
         
            <tr>
              <th scope="col">title</th>
              <th scope="col">description</th>
              <th scope="col">url</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
              
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let display of blogs">
               <td>{{display.title}}</td>
               <td>{{display.discription}}</td>
               <td><img src="{{display.url}}" style="height: 100px; width: 100px;"></td>
               <td>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal1"  (click)="OnEditBlogs(display)" ><i class="bi bi-pencil"></i></button><br/>
               </td>
              
              
               <td>
                <button class="btn btn-danger" (click)="delBlogs(display)"><i class="bi bi-trash"></i></button>
               </td>
             
            </tr>
        </tbody>
    </table>



  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Blog</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formvalue">
                <div class="mb-3">
                  <label for="exampleInputname1" class="form-label">Tittle</label>
                  <input formControlName="title" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  
                </div>
                <div class="mb-3">
                    <label for="exampleInputname1" class="form-label">Discription</label>
                    <input formControlName="discription" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    
                  </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Url</label>
                  <input formControlName="url" type="url" class="form-control" id="exampleInputPassword1">
                </div>
               
               
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="addblog()">Add Blog</button>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Blog</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formvalue">
                <div class="mb-3">
                  <label for="exampleInputname1" class="form-label">Tittle</label>
                  <input formControlName="title" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  
                </div>
                <div class="mb-3">
                    <label for="exampleInputname1" class="form-label">Discription</label>
                    <input formControlName="discription" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    
                  </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Url</label>
                  <input formControlName="url" type="url" class="form-control" id="exampleInputPassword1">
                </div>
               
               
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="UpdateBlog()">Update</button>
        </div>
      </div>
    </div>
  </div>